<plugin name='mybatis' version='0.1' griffonVersion='0.9.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Persistence support via Mybatis</title>
  <description>Persistence support via Mybatis</description>
  <documentation>http://griffon.codehaus.org/Mybatis+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits></toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='datasource' version='0.1' />
  </dependencies>
</plugin>