<plugin name='jexplose' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Expose-like effect for DesktopPanes</title>
  <description>Expose-like effect for DesktopPanes</description>
  <documentation>http://griffon.codehaus.org/Jexplose+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>