<plugin name='mongo-db' version='0.1.1' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>James Williams</author>
  <authorEmail>james.l.williams@gmail.com</authorEmail>
  <title>MongoDB plugin</title>
  <documentation>http://griffon.codehaus.org/MongoDB+Plugin</documentation>
  <plugin name='guice' version='0.1.1' />
  <dependencies>
    <plugin name='guice' version='0.1.1' />
  </dependencies>
</plugin>