<plugin name='metawidget' version='0.1' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Metawidget integration</title>
  <description>Metawidget integration
http://metawidget.sourceforge.net</description>
  <documentation>http://griffon.codehaus.org/Metawidget+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>