<plugin name='gtk' version='0.1' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Gtk UI toolkit plugin</title>
  <documentation>http://griffon.codehaus.org/Gtk+Plugin</documentation>
  <toolkits>gtk</toolkits>
  <platforms>linux</platforms>
  <dependencies />
</plugin>