<plugin name='glazedlists' version='0.6' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>GlazedLists library and components</title>
  <description>Adds GlazedLists support to your Griffon application.</description>
  <documentation>http://griffon.codehaus.org/Glazedlists+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>