<plugin name='swingxtras-builder' version='0.2' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Swingxtras Builder Plugin</title>
  <documentation>http://griffon.codehaus.org/SwingxtrasBuilder+Plugin</documentation>
  <toolkits>swing</toolkits>
  <dependencies />
</plugin>