<plugin name='jmx' version='0.2' griffonVersion='0.9.1 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>JMX support</title>
  <description>Adds JMX support to Griffon applications</description>
  <documentation>http://griffon.codehaus.org/Jmx+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='spring' version='0.4' />
  </dependencies>
</plugin>