<plugin name='nuvolaicons' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Nuvola desktop icons</title>
  <description>Nuvola desktop icons
http://www.icon-king.com/projects/nuvola/</description>
  <documentation>http://griffon.codehaus.org/Nuvolaicons+Plugin</documentation>
  <license>GNU LGPL 2.1</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>