<plugin name='spring' version='0.2' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Spring framework libraries and helpers</title>
  <documentation>http://griffon.codehaus.org/Spring+Plugin</documentation>
  <dependencies />
</plugin>