<plugin name='lookandfeel-skinlnf' version='0.1' griffonVersion='0.3.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Skinlnf Swing Look &amp; Feel</title>
  <documentation>http://griffon.codehaus.org/Lookandfeel+Skinlnf+Plugin</documentation>
  <toolkits>swing</toolkits>
  <plugin name='lookandfeel' version='0.1' />
  <dependencies>
    <plugin name='lookandfeel' version='0.1' />
  </dependencies>
</plugin>