<plugin name='gfx-builder' version='0.6' griffonVersion='0.9.2 &gt; *' jdk='1.6'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Gfx Builder Plugin</title>
  <description>Brings de GfxBuilder libraries into a Griffon application</description>
  <documentation>http://griffon.codehaus.org/GfxBuilder+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>