<plugin name='jogl' version='0.2' griffonVersion='0.3-SNAPSHOT &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>JOGL support</title>
  <documentation>http://griffon.codehaus.org/Jogl+Plugin</documentation>
  <toolkits>swing</toolkits>
  <dependencies />
</plugin>