<plugin name='lombok' version='0.1' griffonVersion='0.9.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Enhance Java code with Lombok</title>
  <description>Enables Java AST manipulation via Lombok</description>
  <documentation>http://griffon.codehaus.org/Lombok+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits></toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>