<plugin name='berkeleydb' version='0.2' griffonVersion='0.3.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Berkeleydb support</title>
  <documentation>http://griffon.codehaus.org/Berkeleydb+Plugin</documentation>
  <synopsis>Berkeleydb support</synopsis>
  <license>Apache Software License 2.0</license>
  <dependencies />
</plugin>