<plugin name='flyingsaucer' version='0.2' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Provides XHTML rendering capabilities</title>
  <description>View and render XHTML documents to PDF.</description>
  <documentation>http://griffon.codehaus.org/Flyingsaucer+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>