<plugin name='worldwind' version='0.3' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>NASA WolrdWind (3D Maps)</title>
  <description>NASA WorldWind (3D Maps)</description>
  <documentation>http://griffon.codehaus.org/Worldwind+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='jogl' version='0.3' />
  </dependencies>
</plugin>