<plugin name='lookandfeel' version='0.1' griffonVersion='0.3.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Swing Look &amp; Feel selector</title>
  <documentation>http://griffon.codehaus.org/Lookandfeel+Plugin</documentation>
  <toolkits>swing</toolkits>
  <synopsis>Swing Look &amp; Feel selector.</synopsis>
  <license>Apache Software License 2.0</license>
  <dependencies />
</plugin>