<plugin name='worldwind' version='0.1' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>NASA WolrdWind (3D Maps)</title>
  <documentation>http://griffon.codehaus.org/Worldwind+Plugin</documentation>
  <plugin name='jogl' version='0.1' />
  <dependencies>
    <plugin name='jogl' version='0.1' />
  </dependencies>
</plugin>