<plugin name='weld' version='0.2' griffonVersion='0.9.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>CDI support via Weld</title>
  <description>CDI support via Weld</description>
  <documentation>http://griffon.codehaus.org/Weld+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>