<plugin name='swingx-builder' version='0.1-SNAPSHOT' jdk='1.4'>
  <author>James Williams</author>
  <authorEmail>james.l.williams@gmail.com</authorEmail>
  <title>SwingX Builder Plugin</title>
  <documentation>http://griffon.codehaus.org/SwingxBuilder+Plugin</documentation>
  <dependencies />
</plugin>