<plugin name='wsclient' version='0.3.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>WS client &amp; libraries</title>
  <description>WS client &amp; libraries</description>
  <documentation>http://griffon.codehaus.org/Wsclient+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>