<plugin name='lang-bridge' version='0.2' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@user.sourceforge.net</authorEmail>
  <title>Enables interoperability between JVM languages</title>
  <documentation>http://griffon.codehaus.org/LangBridge+Plugin</documentation>
  <dependencies />
</plugin>