<plugin name='neo4j' version='0.4' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Neo4j support</title>
  <description>Neo4j support</description>
  <documentation>http://griffon.codehaus.org/Neo4j+Plugin</documentation>
  <license>GNU Affero General Public License v3</license>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>