<plugin name='zonelayout' version='0.2' griffonVersion='0.9.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>ZoneLayout support</title>
  <description>ZoneLayout support
http://zonelayout.com</description>
  <documentation>http://griffon.codehaus.org/Zonelayout+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>