<plugin name='worldwind' version='0.2' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>NASA WolrdWind (3D Maps)</title>
  <documentation>http://griffon.codehaus.org/Worldwind+Plugin</documentation>
  <toolkits>swing</toolkits>
  <plugin name='jogl' version='0.2' />
  <dependencies>
    <plugin name='jogl' version='0.2' />
  </dependencies>
</plugin>