<plugin name='lookandfeel-officelnfs' version='0.1' griffonVersion='0.3.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Officelnfs Swing Look &amp; Feel</title>
  <documentation>http://griffon.codehaus.org/Lookandfeel+Officelnfs+Plugin</documentation>
  <toolkits>swing</toolkits>
  <platforms>windows,windows64</platforms>
  <plugin name='lookandfeel' version='0.1' />
  <dependencies>
    <plugin name='lookandfeel' version='0.1' />
  </dependencies>
</plugin>