<plugin name='silkicons' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>FamFamFam's Silk icon set</title>
  <description>FamFamFam's Silk icon set.
http://www.famfamfam.com/lab/icons/silk/</description>
  <documentation>http://griffon.codehaus.org/Silkicons+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>