<plugin name='lookandfeel-lipstiklf' version='0.2' griffonVersion='0.9.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Lipstiklf Look &amp; Feel</title>
  <description>Lipstiklf Look &amp; Feel
http://sourceforge.net/projects/lipstiklf</description>
  <documentation>http://griffon.codehaus.org/LookandfeelLipstiklf+Plugin</documentation>
  <license>GNU Public License 2.1</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='lookandfeel' version='0.5' />
  </dependencies>
</plugin>