<plugin name='trident-builder' version='0.1-SNAPSHOT' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Trident Builder Plugin</title>
  <documentation>http://griffon.codehaus.org/TridentBuilder+Plugin</documentation>
  <dependencies />
</plugin>