<plugin name='trident-builder' version='0.4' griffonVersion='0.3.2 &gt; *' jdk='1.6'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Trident Builder Plugin</title>
  <documentation>http://griffon.codehaus.org/TridentBuilder+Plugin</documentation>
  <toolkits>swing</toolkits>
  <synopsis>Brings de Trident Builder libraries into a Griffon Build</synopsis>
  <license>Apache Software License 2.0</license>
  <dependencies />
</plugin>