<plugin name='lookandfeel-tinylaf' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Tinylaf Swing Look &amp; Feel</title>
  <description>Tinylaf Swing Look &amp; Feel.
http://www.muntjak.de/hans/java/tinylaf/index.html</description>
  <documentation>http://griffon.codehaus.org/Lookandfeel+Tinylaf+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='lookandfeel' version='0.1' />
  </dependencies>
</plugin>