<plugin name='jeuclid' version='0.1' griffonVersion='0.9.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>MathML renderer</title>
  <description>MathML renderer
http://jeuclid.sourceforge.net</description>
  <documentation>http://griffon.codehaus.org/Jeuclid+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>