<plugin name='wizard' version='0.4' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Adds a Wizard facility to your Griffon apps</title>
  <description>Enables a Wizard facility based on https://wizard.dev.java.net/</description>
  <documentation>http://griffon.codehaus.org/Wizard+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>