<plugin name='jbusycomponent' version='0.1' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Enhance any swing components with a 'busy' state</title>
  <documentation>http://griffon.codehaus.org/JBusyComponent+Plugin</documentation>
  <dependencies>
    <plugin name='swingx-builder' version='0.1' />
  </dependencies>
</plugin>