<plugin name='slideware' version='0.2' griffonVersion='0.9.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Griffon based slideware</title>
  <description>Griffon based slideware</description>
  <documentation>http://griffon.codehaus.org/Slideware+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
    <resource>griffon.plugins.slideware.AbstractDeckController</resource>
    <resource>griffon.plugins.slideware.DeckConfigController</resource>
    <resource>griffon.plugins.slideware.DeckLauncherController</resource>
    <resource>griffon.plugins.slideware.DeckPlayerController</resource>
    <resource>griffon.plugins.slideware.DialogController</resource>
    <resource>griffon.plugins.slideware.GroovyCodeEditorController</resource>
    <resource>griffon.plugins.slideware.AbstractDialogModel</resource>
    <resource>griffon.plugins.slideware.DeckConfigModel</resource>
    <resource>griffon.plugins.slideware.DeckHelpModel</resource>
    <resource>griffon.plugins.slideware.DeckLauncherModel</resource>
    <resource>griffon.plugins.slideware.DeckPlayerModel</resource>
    <resource>griffon.plugins.slideware.GroovyCodeEditorModel</resource>
    <resource>griffon.plugins.slideware.DeckConfigView</resource>
    <resource>griffon.plugins.slideware.DeckHelpView</resource>
    <resource>griffon.plugins.slideware.DeckLauncherView</resource>
    <resource>griffon.plugins.slideware.DeckPlayerView</resource>
    <resource>griffon.plugins.slideware.GroovyCodeEditorView</resource>
  </resources>
  <dependencies>
    <plugin name='transitions' version='0.5' />
    <plugin name='css-builder' version='0.8' />
    <plugin name='jide-builder' version='0.6' />
    <plugin name='glazedlists' version='0.8.2' />
    <plugin name='jbusycomponent' version='0.5.2' />
    <plugin name='i18n' version='0.3.1' />
    <plugin name='lookandfeel' version='0.5' />
    <plugin name='syntaxtext' version='0.1' />
  </dependencies>
</plugin>