<plugin name='effects' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.6'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Effects and Animations</title>
  <description>Effects and Animations</description>
  <documentation>http://griffon.codehaus.org/Effects+Plugin</documentation>
  <license>BSD License</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='trident-builder' version='0.4' />
  </dependencies>
</plugin>