<plugin name='spock' version='0.5.1' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Spock Plugin - spockframework.org</title>
  <description>Test your Griffon apps with Spock.
A port of the Grails Spock plugin by Luke Daley
http://grails.org/plugin/spock</description>
  <documentation>http://griffon.codehaus.org/Spock+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>