<plugin name='lookandfeel-quaqua' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Quaqua Swing Look &amp; Feel</title>
  <description>Quaqua Swing Look &amp; Feel.</description>
  <documentation>http://griffon.codehaus.org/Lookandfeel+Quaqua+Plugin</documentation>
  <license>GNU LGPL 2.1</license>
  <toolkits>swing</toolkits>
  <platforms>macosx,macosx64</platforms>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='lookandfeel' version='0.1' />
  </dependencies>
</plugin>