<plugin name='jmonkeyengine' version='0.1' griffonVersion='0.3-SNAPSHOT &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>JMonkeyEngine support</title>
  <documentation>http://griffon.codehaus.org/Jmonkeyengine+Plugin</documentation>
  <toolkits>swing</toolkits>
  <plugin name='lwjgl' version='0.1' />
  <dependencies>
    <plugin name='lwjgl' version='0.1' />
  </dependencies>
</plugin>