<plugin name='lookandfeel-metouia' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Metouia Swing Look &amp; Feel</title>
  <description>Metouia Swing Look &amp; Feel.</description>
  <documentation>http://griffon.codehaus.org/Lookandfeel+Metouia+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='lookandfeel' version='0.1' />
  </dependencies>
</plugin>