#button1 {
  margin-top: 1em;
}

#button2 {
  margin-top: 1em;
  margin-bottom: 2em;
}

#button3 {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 3em;
}

#button4 {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 4em;
}