#button1 {
  padding-top: 1em;
}

#button2 {
  padding-top: 1em;
  padding-bottom: 2em;
}

#button3 {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 3em;
}

#button4 {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 4em;
}