<plugin name='quartz' version='0.1' griffonVersion='0.9.2 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Job scheduling via Quartz</title>
  <description>Job scheduling via Quartz.
Based on the Grails plugin of the same name.</description>
  <documentation>http://griffon.codehaus.org/Quartz+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
    <resource>griffon.quartz.JobManagerService</resource>
  </resources>
  <dependencies>
    <plugin name='spring' version='0.5' />
  </dependencies>
</plugin>