<plugin name='pivot' version='0.1' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Pivot UI toolkit plugin</title>
  <documentation>http://griffon.codehaus.org/Pivot+Plugin</documentation>
  <toolkits>pivot</toolkits>
  <dependencies />
</plugin>