<plugin name='harmoniccode' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almirays</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Gerrit Grunwald's Fun Components</title>
  <description>Gerrit Grunwald's Fun components
http://harmoniccode.blogspot.com</description>
  <documentation>http://griffon.codehaus.org/Harmoniccode+Plugin</documentation>
  <license>BSD</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='trident-builder' version='0.5' />
  </dependencies>
</plugin>