<plugin name='jgraph' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Graph support via JGraphX</title>
  <description>Graph support via JGraphX.
http://jgraph.com</description>
  <documentation>http://griffon.codehaus.org/Jgraph+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>