<plugin name='jung' version='0.2' griffonVersion='0.3 &gt; *' jdk='1.5'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Graph visualizations and algorithms via JUNG2</title>
  <documentation>http://griffon.codehaus.org/Jung+Plugin</documentation>
  <toolkits>swing</toolkits>
  <dependencies />
</plugin>