<plugin name='jsyntaxpane' version='0.1' griffonVersion='0.9 &gt; *' jdk='1.6'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>Integrates JSyntaxPane</title>
  <description>Integrates JSyntaxPane
http://code.google.com/p/jsyntaxpane/</description>
  <documentation>http://griffon.codehaus.org/Jsyntaxpane+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>