<plugin name='tray-builder' version='0.5' griffonVersion='0.9.2 &gt; *' jdk='1.6'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>TrayBuilder Plugin</title>
  <description>Enables Swing components on SystemTray.</description>
  <documentation>http://griffon.codehaus.org/TrayBuilder+Plugin</documentation>
  <license>GNU General Public License 2.0 (with classpath extension)</license>
  <toolkits>swing</toolkits>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
</plugin>